# Username to use when logging in the remote machines.
ansible_user: ubuntu # Example value (default on EC2 Ubuntu virtual machines)

# SSH key for ansible to use when logging in the remote machines.
ansible_ssh_private_key_file: ~/.ssh/spacenet-ec2-key # Meaningless example value. Set to your own ssh key location.

# Git repository to obtain the Lotus code from.
lotus_git_repo: https://github.com/consensus-shipyard/lotus.git

# Version of the code to check out from the Lotus repository at setup.
# This can be a branch name, a commit hash, etc...
lotus_git_version: "spacenet" # Meaningless example value. Set to desired code version to check out from Git.

# Git repository to obtain the Spacenet code from.
spacenet_git_repo: https://github.com/consensus-shipyard/spacenet.git

# Version of the code to check out from the Spacenet repository at setup.
# This can be a branch name, a commit hash, etc...
spacenet_git_version: "badge" # Meaningless example value. Set to desired code version to check out from Git.

# Alternative version of Mir to use. Adds the following line to Lotus' go.mod file:
# replace github.com/filecoin-project/mir => {{ replace_mir }}
#
# Uncomment to use.
#replace_mir: example.com/example/example-repo v0.1.2

# Number of lines per file when saving the output of the daemon and the validator.
# After log_file_lines lines have been written to the output, the file is compressed and a new file is started.
log_file_lines: 65536

# Maximum total size of compressed logs for each of the Lotus daemon and the Mir validator, and the faucet, in bytes.
# I.e., max_log_archive_size will be allocated for one and another max_log_archive_size for the other.
# When the logs exceed this size, the oldest ones will be deleted, until the total size is below this limit again.
# (This means that the limit might be temporarily exceeded.)
# Note that this does not include the current log being written, which might reach a significant size.
max_log_archive_size: 1073741824 # 1GB

# Other variables Ansible might use, probably no need to touch those...
ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ServerAliveInterval=60'
num_hosts: "{{ groups['all'] | length }}"
num_validators: "{{ groups['validators'] | length }}"
