name: Faucet Test
on: [push, pull_request]
jobs:
  tests-go-stable:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: faucet
    strategy:
      matrix:
        go: [ '1.18' ]
    steps:
      - name: Set up Golang
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Test
        run: make test

      - name: Retain event logs of failed tests
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: event-log-go-1.18
          path: failed-test-data
  tests-go-latest:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: faucet
    steps:
      - name: Set up Golang
        uses: actions/setup-go@v3
        with:
          go-version:   1.18
          check-latest: true

      - name: Checkout
        uses: actions/checkout@v3

      - name: Test
        run: make test

      - name: Retain event logs of failed tests
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: event-log-go-latest
          path: failed-test-data
  golangci:
    name: lint
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: faucet
    steps:
      - name: Set up Golang
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
          check-latest: true

      - name: Checkout
        uses: actions/checkout@v3

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: latest
